.DS_Store
.idea/
__pycache__/
*.pyc
node_modules/
pnpm-debug.log*

apps/docs/.next/
apps/docs/node_modules/
apps/docs/pages/_meta.json
apps/docs/pages/index.mdx
apps/docs/pages/docs/
apps/docs/pages/projects/

output
tmp
